/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --menu-item: #353430; /*Пункты меню и докаративный уголок*/                         /* #353430 */
  --decor-element: transparent; /*Декоративный элементы*/                                 /*transparent*/
  --background-image: url(../images/cover-image-light.png); /*Фоновое изображение*/      /*url(../images/cover-image-light.png)*/
  --background-subtitle: #FF8DCB; /*Фоновый цвет для подзаголовков*/                  /*background: #FF8DCB*/
  --color-text--subtitle: #353430; /*Цвет текста подзаголовка*/                       /* #353430*/
  --color-text-h2: #353430; /*Цвет подзаголовка h2*/                                     /*#353430*/
  --color-text-cards: #353430; /*Цвет текста карточек*/                                 /*#353430;*/
  --title-text-color: #FFC2E6;; /*Цвет текста основного заголовка*/
  --hover-border-menu: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --menu-item: #353430; /*Пункты меню и докаративный уголок*/                         /* #353430 */
    --decor-element: transparent; /*Декоративный элементы*/                                 /*transparent*/
    --background-image: url(../images/cover-image-light.png); /*Фоновое изображение*/      /*url(../images/cover-image-light.png)*/
    --background-subtitle: #FF8DCB; /*Фоновый цвет для подзаголовков*/                  /*background: #FF8DCB*/
    --color-text--subtitle: #353430; /*Цвет текста подзаголовка*/                       /* #353430*/
    --color-text-h2: #353430; /*Цвет подзаголовка h2*/                                     /*#353430*/
    --color-text-cards: #353430; /*Цвет текста карточек*/                                 /*#353430;*/
    --title-text-color: #FFC2E6;; /*Цвет текста основного заголовка*/
    --hover-border-menu: rgba(50, 49, 45, 0.4);
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
