/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  max-width: 100%;
  height: 100%;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  height: 100vh;
  min-height: 668px;
  padding-top: 19.5%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
}

.header__theme-menu-button {
  width: 100%;
  background-color: transparent;
  text-transform: lowercase;
  font-family: "IBM Plex mono", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: var(--menu-item);
  padding: 3px 12px;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border-menu);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  width: 70px;
  margin-left: auto;
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-transform: lowercase;
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-weight: 700;
  text-shadow: 4px 4px 0 #FF0070;
  color: var(--title-text-color);
  line-height: 95.7px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  margin-top: 18.5%;
}

.header__text {
  width: 100%;
  font-weight: 700;
  margin-top: 16%;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-text--subtitle);
  background-color: var(--background-subtitle);
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.card-text {
  font-family: "IBM Plex mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-text-cards);
} 

.card .subtitle {
  margin-bottom: 10px;
}

.main {
  margin-bottom: 40px;
  padding: 0px 10px;
}

.main__section:not(:last-child) {
  margin-bottom: 50px;
}

.subtitle {
  font-family: "IBM Plex mono", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-text--subtitle);
  background-color: var(--background-subtitle);
}

h2.subtitle {
  background-color: transparent;
  color: var(--color-text-h2);
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.main__section-cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.margin-bottom.margin-bottom {
  margin-bottom: 48px;
}

.main__section:has(.img__section) {
  row-gap: 10px;
}

h4.subtitle {
  font-weight: 400;
}

.img__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 142px 355px 237px 355px 237px;
  row-gap: 10px;
}

.img__section-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.footer {
  height: 100vh;
  min-height: 668px;
  padding: 72% 15px 0px 15px;
  letter-spacing: -3px;
}

.footer-text {
  text-transform: lowercase;
  font-family: "IBM Plex Mono", "Arial", sans-serif;
  font-weight: 700;
  line-height: 129.53px;
  text-align: center;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0 #FF0070;
  color: var(--title-text-color);
}

/*Декоративные элементы*/

.decor-round {
  color: var(--decor-element);
}

.decor-round::before {
  content: "rec";
  position: absolute;
  color: currentColor;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", "Arial" ,sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  top: 10px;
  right: 38px;
}

.decor-round::after {
  content: "";
  display: block;
  position: absolute;
  background-color: currentColor;
  box-shadow: 0px 0px 4px 2px currentColor;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  top: 18px;
  right: 18px;
}

.decorated-zone {
  position: relative;
  color: var(--menu-item);
}

.decorated-zone::before, .decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  display: block;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-left: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 2px  var(--background-subtitle);
}

a:hover {
  border-bottom: 1px solid currentColor;
}

a:focus {
  outline: none;
  border: none;
}

a:focus-visible {
  outline: 1px solid currentColor;
}


@media(width >= 768px) {
  .header {
    height: 100vh;
    min-height: 1024px;
    padding-top: 24.6%;
    padding-left: 0px;
    padding-right: 20px;
    margin-bottom: 60px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-top: 23.2%;
  }

  .header__text {
    width: 48.5%;
    margin-top: 165px;
    margin-left: auto;
    margin-right: 0px;
  }

  .main {
    margin-bottom: 60px;
    padding: 0px 20px;
  }

  .main__section:not(:last-child) {
    margin-bottom: 80px;
  }

  .main__section:nth-child(odd) {
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
  }

  .subtitle-width {
    width: 32%;
  }

  .img__section {
    display: grid;
    grid-template-rows: 192px 230px 318px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .img__section-wrap:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .img__section-wrap:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
  }
    
  .img__section-wrap:nth-child(3) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .img__section-wrap:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }
  
  .img__section-wrap:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .main__section:has(.img__section) {
    row-gap: 20px;
  }

  .footer {
    height: 100vh;
    min-height: 1024px;
    padding: 58% 15px 0px 15px;
    letter-spacing: 1px;
  }

  .decor-round::before {
    top: 20px;
    right: 49px;
  }
  
  .decor-round::after {
    top: 27px;
    right: 27px;
  }
      
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media(width >= 1024px) {
  .header {
    height: 100vh;
    min-height: 768px;
    padding-top: 18px;
    padding-right: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: space-between;
    width: 230px;
    height: 26px;
    margin: 0px auto;
  }
  
  .header__title {
    margin-top: 28.5%;
  }

  .header__text {
    width: 48%;
    margin-top: /* 13.2%; */ 132px;
    margin-left: auto;
    margin-right: 20px;
  }

  .main__section:nth-child(odd) {
    grid-template-columns: 315px 1fr;
  }

  .main__section:nth-child(2) .main__section-cards {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
  }

  .img__section {
    display: grid;
    grid-template-rows: 260px 315px 432px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }
  
  .footer {
    height: 100vh;
    min-height: 768px;
    padding: 31.5% 15px 0px 15px;
  }
}
